<div class="row justify-content-center">
    <div class="col-9">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Firstname</th>
            <th scope="col">Lastname</th>
            <th scope="col">Number of books</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody *ngIf="users">
          <tr *ngFor="let user of users; trackBy:trackByUser; let i = index" class="tr-pointer">
            <th scope="row">{{i+1}}</th>
            <td (click)="selectUser(user.id)">{{user.firstname}}</td>
            <td (click)="selectUser(user.id)">{{user.lastname}}</td>
            <td (click)="selectUser(user.id)">{{! user.listOfBooksId ? 0 : user.listOfBooksId.length }}</td>
            <td class="text-center">
              <button (click)="editUser(user.id)"
                      class="btn btn-primary text-center">
                <span>
                  Edit
                </span>
              </button>
              <button (click)="deleteUser(user.id)"
                      class="btn btn-danger text-center">
                <span>
                  Delete
                </span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>