<div class="row justify-content-center">
  <div class="col-8">
    <div [formGroup]="addOneUserForm">
      <input type="text" formControlName="firstname" placeholder="firstname">
      <input type="text" formControlName="lastname" placeholder="lastname">
      <select multiple formControlName="listOfBooksId">
        <option *ngFor="let book of books | async; trackBy:trackByBook" [value]="book.id">
          {{ book.title }}
        </option>
      </select>
      <button style="margin-bottom: 20px;"
              class="btn btn-primary text-center"
              (click)="addNewUser(addOneUserForm.value)"
              [disabled]="addOneUserForm.invalid">
        <span>
          Submit
        </span>
      </button>
    </div>
  </div>
</div>

<app-users-table [users]="users | async"></app-users-table>