<div [formGroup]="addOneUserForm">
  <input type="text" formControlName="firstname" placeholder="firstname">
  <input type="text" formControlName="lastname" placeholder="lastname">
  <select multiple formControlName="listOfBooksId">
    <option *ngFor="let book  of books | async" [value]="book.id" >
      {{ book.title }}
    </option>
  </select>
  <button (click)="addNewUser(addOneUserForm.value)" [disabled]="addOneUserForm.invalid">SUBMIT</button>
</div>
<div class="row justify-content-center">
  <div class="col-9">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Number of books</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="{users: users | async} as data">
    <tr *ngFor="let user of data.users; let i = index" class="tr-pointer" (click)="selectUser(user.id)">
      <th scope="row">{{i+1}}</th>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.listOfBooksId === null ? 0 : user.listOfBooksId.length }}</td>
      <td class="text-center">
        <button (click)="editUser(user.id)" class="btn btn-primary text-center"><span>Edit</span></button>
        <button (click)="deleteUser(user.id)" class="btn btn-danger text-center"><span>Delete</span></button>
      </td>
    </tr>
  </tbody>
</table>
  </div>
</div>
<ul *ngIf="{users: users | async} as data">
  <li *ngFor="let user of data.users" >[{{user.id}}] {{user.firstname}} - {{user.lastname}}
    <button  class="btn btn-sm btn-primary mr-1">Detais</button>
    <button (click)="editUser(user.id)" class="btn btn-sm btn-primary mr-1">Edit</button>
    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" >delete</button>
  </li>
</ul>


