<div [formGroup]="addOneUserForm">
  <input type="text" formControlName="firstname" placeholder="firstname">
  <input type="text" formControlName="lastname" placeholder="lastname">
  <select multiple formControlName="listOfBooksId">
    <option *ngFor="let book  of books | async" [value]="book.id" >
    {{ book.title }}
    </option>
  </select>
  <button (click)="addNewUser(addOneUserForm.value)" [disabled]="addOneUserForm.invalid">SUBMIT</button>
</div>

<ul *ngIf="{users: users | async} as data">
  <li *ngFor="let user of data.users" >[{{user.id}}] {{user.firstname}} - {{user.lastname}}
    <button (click)="selectUser(user.id)" class="btn btn-sm btn-primary mr-1">Detais</button>
    <button (click)="editUser(user.id)" class="btn btn-sm btn-primary mr-1">Edit</button>
    <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" >delete</button>
  </li>
</ul>


