<div class="row justify-content-center">
  <div class="col-5 justify-content-center">
    <div [formGroup]="addOneBookForm" style="margin-left: 32px;">
      <input type="text" formControlName="title" placeholder="title">
      <table class="table table-bordered" formArrayName="authors">
        <tr>
          <th colspan="2">Add Multiple Author:</th>
          <th width="150px"><button type="button" (click)="addAuthor()" class="btn btn-primary">Add More</button></th>
        </tr>
        <tr *ngFor="let author of authors().controls; let i=index" [formGroupName]="i">
          <td>
              Author :
              <input type="text" formControlName="author" class="form-control">
          </td>
          <td>
              <button (click)="removeAuthor(i)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </table>
      <button (click)="addNewBook(addOneBookForm.value)"
              [disabled]="addOneBookForm.invalid"
              style="margin-bottom: 6px;"
              class="btn btn-primary btn-sm text-center">
                <span>
                  Submit
                </span>
      </button>  
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody *ngIf="{books: books | async} as data">
        <tr *ngFor="let book of data.books; trackBy:trackByBook; let i = index" class="tr-pointer">
          <th scope="row">{{i+1}}</th>
          <td>{{book.title}}</td>
          <td>{{book.authors | json}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>