<div class="row justify-content-center">
  <div class="col-6">
    <div [formGroup]="addOneBookForm" style="display: inline-flex;">
      <table class="table-bordered">
        <tr>
          <th>Add Title:</th>
        </tr>
        <tr>
          <td>
              Title:
              <input type="text" formControlName="title">
          </td>
        </tr>
      </table>
      <table class="table-bordered" formArrayName="authors">
        <tr>
          <th>Add Author:</th>
          <th><button type="button" (click)="addAuthor()" class="btn btn-primary">Add</button></th>
        </tr>
        <tr *ngFor="let author of authors().controls; let i=index" [formGroupName]="i">
          <td>
              Author:
              <input type="text" formControlName="author">
          </td>
          <td>
              <button (click)="removeAuthor(i)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </table> 
    </div>
    <button (click)="addNewBook(addOneBookForm.value)"
    [disabled]="addOneBookForm.invalid"
    style="margin-top: 18px;"
    class="btn btn-primary text-center">
      <span>
        Submit
      </span>
    </button> 
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-9">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Authors</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="{books: books | async} as data">
        <tr *ngFor="let book of data.books; trackBy:trackByBook; let i = index" class="tr-pointer">
          <th scope="row">{{i+1}}</th>
          <td (click)="selectBook(book.id)">{{book.title}}</td>
          <td (click)="selectBook(book.id)"> <div *ngFor="let author of book.authors">{{author | json}}</div></td>
          <td class="text-center">
            <button (click)="editBook(book.id)"
                    class="btn btn-primary text-center">
              <span>
                Edit
              </span>
            </button>
            <button (click)="deleteBook(book.id)"
                    class="btn btn-danger text-center">
              <span>
                Delete
              </span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>