<div class="row">
  <div class="col-12">
    <h1 class="text-center">My Book Store Application</h1>
  </div>
</div>

<ng-container  *ngIf="{user: user | async, userBooksTitles: userBooksTitles | async} as data">
  <div style="margin-top: 200px;" class="row justify-content-center">
    <div class="col-8">
      <p>Username = {{ data.user?.firstname }}</p>
      <p>Lastname = {{ data.user?.lastname }}</p>
      <p>booksList =  {{ data.userBooksTitles | json }}</p>
    </div>
  </div>
</ng-container>


