.row {
    margin-top: 3rem;
}

.tr-pointer {
    cursor: pointer;
}

button {
    margin-left: 1rem;
    min-width: 85px;
}

td, th {
    vertical-align: middle;
}

input {
    margin-right: 20px;
    margin-left: 15px;
}

select {
    margin-left: 15px;
    margin-right: 15px;
    padding-right: 80px;
}

a {
    margin-left: 200px;
}